<div class="form-horizontal">
	<legend>Add an item</legend>
	<%= form_tag items_amazon_url do %>
		<%= label_tag :amazon_url, 'By Amazon URL'%>
		<%= text_field_tag :amazon_url, nil, :class=>'form-control' %>
		<br>
		<%= submit_tag "Add item", :class=>'btn btn-primary' %>
	<% end %>
</div>